function formatNumber(n) {
  n = n.toString()
  return n[1] ? n : 0 + n
}
module.exports = {
  //计算商品件数
  calc: function (list) {
    var num = 0
    list.forEach(function (item, index) {
      num += (item.cart_number - 0)
    })
    return num
  },
  // 计算我的订单页 宽度
  calcW: function (len) {
    return 124 + (len - 1) * 144
  },
  // 待支付剩余时间
  cutdown: function (time) {
    if (time <= 0) {
      return '00:00:00'
    }
    return formatNumber(parseInt(time / 3600)) + ':' + formatNumber(parseInt(time / 60) % 60) + ':' + formatNumber(time % 3600 % 60)
  },
  // 过滤 0:待核销 1:已核销
  fliterOrderCodeArr: function (orderCodeArr) {
    if (orderCodeArr.length) {
      return orderCodeArr.some(function (item) {
        return !item.status
      })
    }
  },
  // 拼团订单文案 
  // 订单状态 0:待支付 1:已支付 2:已取消 3:已完成 4:已退款
  // 拼团状态 1:进行中 2:已完成 3:未拼成
  // 中奖状态bargaining_status 0:待开奖 1:已中奖 2:未中奖 -1:拼团已解散
  bargainStatus2Text: function (status, last_join_member) {
    if (status === 0) {
      return '还差' + last_join_member + '人拼成'
    } else if (status === 1) {
      return '还差' + last_join_member + '人拼成'
    } else if (status === 2) {
      return ''
    } else if (status === 3) {
      return '拼团成功'
    } else if (status === 4) {
      return '未获得商品购买资格，获得幸运奖'
    }
  }
}