module.exports = {
  // 提现状态
  parseWithdrawStatus: function (status) {
    var res
    switch (status) {
      case 1:
        res = '审核中'
        break;
      case 2:
        res = '提现失败'
        break;
      case 3:
        res = '提现成功'
        break;
      case 4:
        res = '提现驳回'
        break;
      default:
        break;
    }
    return res
  },
  getTime: function (date, mode) {
    var date = getDate(date)
    // var hour = date.getHours()
    // var minute = date.getMinutes()
    // var second = date.getSeconds()
    if (mode === 'y') {
      return date.getFullYear()
    } else if (mode === 'm') {
      return date.getMonth() + 1
    } else if (mode === 'd') {
      return date.getDate()
    }
  },
}